<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EducationSystemEntities" connectionString="metadata=res://*/EducationSystemEntity.csdl|res://*/EducationSystemEntity.ssdl|res://*/EducationSystemEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=RAKESH-PC\SQLEXPRESS;Initial Catalog=EducationSystem;Persist Security Info=True;User ID=sa;Password=sriram;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>